@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-section {
  margin: 80px auto;
  max-width: 996px;
  height: 618px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 0 8px 8px 0;

  .form-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 96px;

    .form-section-title {
      font-family: "Epilogue", sans-serif;
      margin-bottom: 32px;
      font-size: 32px;
      line-height: 48px;
      font-weight: 700;
      color: #171a1fff;
    }

    .form-input {
      position: relative;
      width: 359px;
      margin-bottom: 24px;
      font-family: "Inter", sans-serif;
      input {
        width: 100%;
        padding: 25px 12px 4px;
        background-color: #f3f4f6ff;
        border: none;
        border-radius: 4px;
      }

      input::placeholder {
        font-size: 12px;
      }

      input:focus {
        color: #bcc1caff;
        background-color: #ffffffff;
        outline: 1px solid #00bdd6;
        box-shadow: 0px 0px 6px #00bdd6;
      }

      label {
        position: absolute;
        top: 4px;
        left: 12px;
        font-weight: 700;
        font-size: 14px;
        cursor: pointer;
      }
      img {
        position: absolute;
        bottom: 4px;
        right: 12px;
        width: 16px;
        height: 16px;
        cursor: pointer;
      }
    }

    input[type="submit"] {
      margin-top: 11px;
      width: 359px;
      height: 44px;
      padding: 14px 8px;
      font-size: 16px;
      font-weight: lighter;
      color: white;
      background-color: #00bdd6ff;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      margin-bottom: 32px;
      box-shadow: 0px 8px 17px #00bdd626;
    }
    input[type="submit"]:hover {
      background: #00a9c0ff;
    }

    input[type="submit"]:hover:active {
      background: #0095a9ff;
    }

    .form-social {
      text-align: center;
      font-family: "Inter", sans-serif;
      .form-social-icon {
        margin-top: 8px;
        display: flex;
        justify-content: space-between;
        gap: 8px;
        align-items: center;
        a {
          text-decoration: none;
          i {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 78px;
            height: 36px;
            padding: 0 10px;
            border-radius: 18px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .form-section-image {
    width: 445px;
    background-color: #00bdd6ff;
    border-radius: 0 8px 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: 418px;
    }
  }
}

/* common class */
.brown {
  color: #c71610ff;
}

.bg-brown {
  background-color: #fef1f1ff;
}

.bg-brown:hover {
  background-color: #fdeeedff;
}

.bg-brown:hover:active {
  background-color: #fde1e0ff;
}

.blue {
  color: #335ca6ff;
}

.bg-blue {
  background-color: #f3f6fbff;
}

.bg-blue:hover {
  background-color: #f0f4faff;
}

.bg-blue:hover:active {
  background-color: #e7ecf7ff;
}

.gray {
  color: #565e6cff;
}

.bg-gray {
  background-color: #f3f4f6ff;
}

.bg-gray:hover {
  background-color: #dee1e6ff;
}

.bg-gray:hover:active {
  background-color: #cfd2daff;
}
